<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.mms.dao.FinalreportMapper">
    <select id="returnFinalreport" parameterType="java.lang.Integer"
            resultType="com.demo.mms.common.domain.Finalreport">
    select *
    from finalreport
    where studentid=#{studentid} and version=#{version};
  </select>
    <insert id="insertFinalreport" parameterType="com.demo.mms.common.domain.Finalreport">
    insert into finalreport (reportid, studentid, fileaddress,score1,score2,score3,advice,commit_time,reportname,state,keyword,innovation_point,chinese_abstract,others,detection_result,result_address,enclosure_address,version)
    values   (#{reporid}, #{studentid}, #{fileaddress},#{score1},#{score2},#{score3},#{advice},#{commit_time},#{reportname},#{state},#{keyword},#{innovation_point},#{chinese_abstract},#{others},#{detection_result},#{report_address},#{enclosure_address},#{version})
  </insert>
    <select id="selectMaxversion" parameterType="java.lang.Integer" resultType="int">
    select max(version)
    from finalreport
    where studentid=#{studentid};
  </select>
    <update id="insertFinalreportpath" parameterType="java.lang.String">
    update finalreport set fileaddress = #{finalpath} where studentid= #{studentid} and version = #{version}
  </update>
    <update id="insertFinalresultpath" parameterType="java.lang.String">
    update finalreport set result_address = #{finalpath} where studentid= #{studentid} and version = #{version}
  </update>
    <update id="insertFinalotherpath" parameterType="java.lang.String">
    update finalreport set enclosure_address = #{finalpath} where studentid= #{studentid} and version = #{version}
  </update>
</mapper>